* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.red {
  background-color: red;
  width: 250px;
  height: 250px;
  position: relative;
  top: 75px;
  left: 75px;
  z-index: 3;
}
.black {
  background-color: black;
  width: 50px;
  height: 50px;
  position: relative;
  top: -75px;
  right: -175px;
  z-index: 9;
}
.grey {
  background-color: grey;
  width: 400px;
  height: 400px;
  position: relative;
  top: -300px;
  z-index: -1;
}


.green {
  background-color: green;
  width: 200px;
  height: 200px;
  position: fixed;
  left: 100px;
  top: 100px;
  z-index: 4;
}

.blue {
  background-color: blue;
  width: 150px;
  height: 150px;
  position: fixed;
  left: 125px;
  top: 125px;
  z-index: 5;
}

.yellow {
  background-color: yellow;
  width: 100px;
  height: 100px;
  position: fixed;
  left: 150px;
  top: 150px;
  z-index: 6;
}



.purple {
  background-color: purple;
  width: 300px;
  height: 300px;
  position: fixed;
  left: 50px;
  top: 50px;
  z-index: 2;
}

.darkblue {
  background-color: darkblue;
  width: 350px;
  height: 350px;
  position: fixed;
  left: 25px;
  top: 25px;
  z-index: 1;
}


